{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static "estatico/style.css" %}" />
    <link rel="stylesheet" href="{% static "estatico/cover.css" %}" />
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <title>{% block title %}---{% endblock %}</title>
  </head>

  <body class="bg-dark text-white">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Coronavirus Makers</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="{% url 'estatico_view' %}">Home</a>
                    <a class="nav-link" href="{% url 'estatico_view' %}">Estáticos</a>
                </nav>
            </div>
        </header>
        <main role="main" class="inner cover">
            {% block content %}{% endblock %}
        </main>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Coronavirus Makers</p>
            </div>
        </footer>
    </div>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
