{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static "common/style.css" %}" />
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <title>{% block title %}---{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="bg-dark text-white">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <header class="mb-auto">
                    {% block menu %}
                    {% include "common/_menu.html" %}
                    {% endblock menu %}
                </header>
                {% block breadcrumb_block %}{% endblock %}
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="mt-5 col-sm-12 col-md-12 col-lg-6">
                <div>
                    <ul class="nav nav-tabs">
                        {% block breadcrumb %}{% endblock %}
                    </ul>
                </div>
                <div class="pb-5">
                    test
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="p-5"></div>
        <div class="row mt-5 text-right">
            <div class="col-12">
                <footer class="mt-auto fixed-bottom pr-2 pt-2 ">
                    <div class="inner">
                        <p>Coronavirus Makers</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    </div>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
